
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
  <section id="breadcrumb" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul>
      <li><a href="index.html.erb">Home</a></li>
      <li><a href="gallery.html.erb">Gallery</a></li>
      <li><a href="gallery.html.erb">Robotics Track</a></li>
    </ul>
    <!-- ################################################################################################ -->
    <h6 class="heading">Gallery</h6>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading"> Robotics Track (2017)</header>
          <ul class="nospace clear">
            <li class="one_quarter first"><a href="#"><img src="http://i.imgur.com/H3gyxIP.jpgg" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://i.imgur.com/NmnX2E3.jpg" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://i.imgur.com/2h6fiLe.jpg" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://i.imgur.com/0sEE2uy.jpg" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="http://i.imgur.com/EFu7oc3.jpg" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://i.imgur.com/7GgQ6I2.jpg" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://i.imgur.com/DeXj2wf.jpg" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://i.imgur.com/3kICK0C.jpg" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="http://i.imgur.com/wvsTAXG.jpg" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://i.imgur.com/DSXthr5.jpg" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://i.imgur.com/us4sSZI.jpg" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="http://i.imgur.com/fpJCAIz.jpg" alt=""></a></li>
          </ul>
          <figcaption>For the full album, <a href="https://www.facebook.com/pg/ProtonsAlexSB/photos/?tab=album&album_id=1320339368033838">click here</a>.</figcaption>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <nav class="pagination">
        <ul>
          <li><a href="#">&laquo; Previous</a></li>
          <li class="current"><strong>1</strong></li>
          <li><a href="gallery-2.html.erb">2</a></li>
          <li><a href="gallery-3.html.erb">3</a></li>
          <li><a href="gallery-4.html.erb">4</a></li>
          <li><a href="gallery-2.html.erb">Next &raquo;</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->